.intro_sec {
  display: flex;
  justify-content: space-between;
  margin: 50px 10px;
  /* height: 50vh; */
}

@media screen and (max-width: 768px) {
  .intro_sec {
    flex-direction: column;
    justify-content: space-between;
  }
}
